@model Domain.Entities.Product
<div class="well">
    <h3>@Model.Name<span class="pull-right label label-primary" >@Model.Price</span></h3>
   
    <h3 class="lead">@Model.Description</h3>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
    @Html.Hidden("ProductID")
    @Html.Hidden("returnUrl","Request.Url.PathAndQuery")
    <input type="submit" value="加入购物车" class="btn btn-default" />
    }
</div>
